@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Nothing+You+Could+Do&family=Tangerine:wght@700&display=swap');

*{
    font-variant-caps: all-petite-caps;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

hr{
    margin: 0px 200px 0px 200px;
}

div.header{
    height: 600px;
    background-image: url("../Images/HeaderBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

div.navigation{
    justify-content: center;
    background-color: #CDB090;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

img.web_logo{
    margin: 10px 30px;
    border-radius: 15px;
    cursor: pointer;
}

nav.navbar{
    background-color: transparent;
    display: flex;
    padding: 10px;
    justify-content: center;
    text-decoration: none;
    position: sticky;
}

nav.navbar li{
    list-style-type: none;
    text-decoration: none;
    background-color: transparent;
    padding: 10px;
}

nav.navbar li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 16px;
    letter-spacing: 2px;
    background-color: transparent;
}

nav.navbar li a:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 2px;
    transition: all 0.8s ease-in-out;
}

div.website_brand{
    background-color: transparent;
    padding: 50px;
    margin-top: 50px;
    justify-content: center;
}

h3.web_name{
    background-color: transparent;
    text-align: center;
    margin: 40px 15px 15px 15px;
    font-family: 'Nothing You Could Do', cursive;
    color: white;
    font-size: 90px;
    font-weight: 500;
    line-height: 1.3em;
    letter-spacing: 5px;
    text-transform: uppercase;
}

p.moto{
    background-color: transparent;
    text-align: center;
    padding: 10px;
    color: #d8c6b3;
    font-size: 20px;
    border-bottom: 3px solid #CDB090;
}

body{
    font-family: 'Hind Vadodara', sans-serif;
}

h2.headers{
    color: #CDB090;
    font-size: 45px;
    font-weight: 100;
    line-height: 1.3em;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    margin-top: 40px;
    letter-spacing: 3px;
}

h2.headers:after{
    content: '';
    background: #CDB090;
    width: 300px;
    display: block;
    height: 3px;
    margin: 10px auto;
}

footer{
    background-image: url(../Images/RequestBackground.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    margin: 0;
}

div.footer{
    background-color: transparent;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.footer_body{
    display: flex;
    background-color: transparent;
}

div.footer_body_item{
    background-color: transparent;
    margin: 15px;
    padding: 10px;
}

h5.footer_header{
    background-color: transparent;
    color: white;
    padding: 5px;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    border-bottom: 2px solid #CDB090;
}

div.footer_body_item ul{
    background-color: transparent;
    margin: 10px;
}

div.footer_body_item ul li, div.footer_body_item ul li a{
    list-style: none;
    text-decoration: none;
    background-color: transparent;
    color: white;
    padding: 5px 7px;
    cursor: pointer;
    letter-spacing: 2px;
}

div.footer_body_item ul li:hover, div.footer_body_item ul li a:hover{
    list-style: none;
    text-decoration: none;
    background-color: transparent;
    color: #CDB090;
    padding: 5px 7px;
    letter-spacing: 2px;
}

div.socials{
    background-color: #CDB090;
    color:#FFFFFF;
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;
}

p.socials_header{
    background-color: transparent;
    font-size: 15px;
    font-weight: 200;
}

ol.social_links{
    background-color: transparent;
    float: right;
}

ol.social_links a{
    background-color: transparent;
}

img.social_link{
    background-color: transparent;
    margin: 5px;
    padding: 5px;
}

img.social_link:hover{
    background-color: #333333;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    transition: all 0.8s ease 0s;
}